@import 'vars.styl'

.taplist
	.taplist_section
		margin-bottom: 50px

	.item
		display: flex
		flex: 1
		margin: 10px 0
		border-bottom: 2px dotted #ddd
		padding-bottom: 11px
		.info
			display: flex
			flex: 8
			flex-direction: column
			.basic
				font-weight: 700
			
			> div
				line-height: 24px
				font-size: 18px

		.containers
			align-items: center
			display: flex
			flex: 1
			white-space: nowrap
			text-align: center
			.text-fit
				display: flex
				flex-direction: column

	.section-title
		font-family: Rubik, sans-serif
		font-size: 24px
		font-weight: 700
		letter-spacing: 1px
		line-height: 30px
		margin-bottom: 8px
		border-bottom: 2px dotted #25c9d0
		padding-bottom: 10px

	.container-item
		flex: 1
		white-space: nowrap
		line-height: 20px