<!-- START THANK YOU CODE -->
<style type="text/css">
	* {
		visibility: hidden !important
	}
</style>
<script>
	try {
		(function () {
			var a = "_mv"; var b = "mutiny.user.token"; var c = window.location.search.replace("?", "").split("&"); var d = c.find(function (b) { return b.startsWith(a) }); var e = d && d.split("=")[1]; if (e) { var f = new Date; f.setTime(f.getTime() + 3 * 52 * 7 * 24 * 60 * 60 * 1000); var g = window.location.hostname; document.cookie = "".concat(b, "=").concat(e, "; expires=").concat(f.toUTCString(), "; path=/; domain=.").concat(g.substring(g.lastIndexOf(".", g.lastIndexOf(".") - 1) + 1)) } window.mutinyTrackConversion = function (a) { var c = "55d6ee346d491baa"; var d = ("; " + document.cookie).split("; " + b + "="); var f = e || (d.length === 2 ? d.pop().split(";").shift() : null); var g = "https://api.mutinyhq.io/v2/i/conversions/t?token=".concat(c); var h = new XMLHttpRequest; h.open("POST", g, false); h.send(JSON.stringify({ visitor_token: f, form_data: { name: a || "pixel" } })) };
			window.mutinyTrackConversion('free-trial-signup-complete');
		})();
	} catch (e) {
		console.error('error in mutiny conversion', e)
	}
</script>

<script>
	function getEventName() {
		var parentUrl = ''
		try {
			var urlParams = new URLSearchParams(window.location.search)
			if (urlParams.get('page_url')) {
				parentUrl = urlParams.get('page_url')
			}
		} catch (e) { }
		try {
			parentUrl = parentUrl.split('?')[0]
			if (parentUrl.indexOf('/servicenow-analytics') > -1) {
				return 'freetrial_servicenow';
			} else if (parentUrl.indexOf('/sales') > -1) {
				return 'freetrial_sales';
			} else if (parentUrl.indexOf('/marketing') > -1) {
				return 'freetrial_marketing';
			} else if (parentUrl.indexOf('/vhol') > -1) {
				return 'freetrial_vhol';
			} else if (parentUrl.indexOf('/analyst') > -1) {
				return 'freetrial_analyst';
			} else if (parentUrl.indexOf('/sage') > -1) {
				return 'freetrial_sage';
			} else if (parentUrl.indexOf('/sheets-to-cloud-upgrade') > -1) {
				return 'freetrial_sheets';
			} else {
				return 'freetrial_main';
			}
		} catch (e) {
			return 'freetrial_main';
		}
	}
	var success_redirect = '';
	if (window.location.pathname == '/starter-kit-sales-analytics.html') {
		success_redirect = 'https://go.thoughtspot.com/starter-kit-sales-analytics-thank-you.html';
	} else {
		success_redirect = "%%success_redirect{js}%%";
	}
	var googleSignup = '%%SaaS_Trial_Social_Signin{js}%%';
	try {
		window.skipSuccess = true
		if (googleSignup) {
			console.log('configure oidc redirect')
			var clusterUrl = '%%SaaS_Trial_Cluster_URL{js}%%';
			success_redirect = clusterUrl + '/callosum/v1/oidc/login?email_hint=' + encodeURIComponent('%%email{js}%%');
			console.log('success_redirect', success_redirect);
		}

		let ranEventCallback = false;
		function doDatalayer() {
			const awaitReady = setInterval(function () {
				console.log('attempt datalayer', window.dataLayer, window.pardotSuccessRedirect)
				if (window.dataLayer && window.pardotSuccessRedirect) {
					clearInterval(awaitReady);
					console.log('pushing datalayer')
					window.dataLayer.push({
						'event': 'form_conversion_pardot',
						'uuid': '%%SaaS_Trial_UUID{js}%%',
						'eventName': getEventName(),
						'eventCategory': 'freetrial',
						'eventAction': 'submission',
						'eventCallback': function () {
							if (!ranEventCallback) {
								ranEventCallback = true;
								window.pardotSuccessRedirect(success_redirect)
							}
						},
						'eventTimeout': 2000
					});
				}
			}, 300);
		}

		doDatalayer()
	} catch (e) {
		console.error('error in success redirect', e)
	}
</script>
<script src="https://scripts.thoughtspot.com/pardot_success_new.js"></script>

<!-- END THANK YOU CODE -->