@import 'vars.styl'
@import 'skilljar.styl'
@import 'docs.styl'
@import 'community.styl'

.algolia_hits_expanded
	@media screen and (max-width: 1023px)
		height: 100vh
		overflow: hidden


.algolia_search_wrapper
	max-width: 1040px
	margin: 0 auto
	width: 100%
	font-family: 'Plain-Regular', 'Optimo-Plain'
	box-sizing: border-box
	@media screen and (max-width: 800px)
		padding: 0 10px

	*
		box-sizing: border-box

	input[type="search"]
		width: 800px
		max-width: 100%
		height: 60px
		border-radius: 4px
		border: 1px solid #333
		text-indent: 55px
		font-size: 22px
		line-height: 30px
		// box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1)
		// background: rgb(243,243,243);
		// background: linear-gradient(0deg, rgba(243,243,243,1) 0%, rgba(255,255,255,1) 100%)
		transition: width .5s
		&::placeholder
			color: #9D9D9D
			font-size: 16px
			font-weight: 500
			@media screen and (max-width: 800px)
				font-size: 13px

	.close
		width: 20px
		height: 20px
		position: absolute
		top: 30px
		right: 30px
		background-image: url('https://www.thoughtspot.com/images/x.svg')
		background-repeat: no-repeat
		background-position: center center
		background-size: contain
		border: none
		background-color: transparent

	.search_wrapper
		display: flex
		justify-content: center
		form
			position: relative
			&:before
				content: ' '
				position: absolute
				top: 11px
				left: 13px
				width: 36px
				height: 36px
				background-image: url('https://media.thoughtspot.com/35707/1655144013-algolia_search.svg')
				background-repeat: no-repeat
				background-position: center center
				background-size: contain

		.ais-SearchBox-submit
			display: none!important

		.ais-SearchBox-form
			&.expanded
				.clear_search
					display: block

		.clear_search
			background-image: url('https://www.thoughtspot.com/images/x.svg')
			background-color: transparent
			background-size: contain
			background-position: center center
			background-repeat: no-repeat
			cursor: pointer
			width: 20px
			height: 20px
			padding: 0
			right: 12px
			width: 40px
			height: 40px
			top: 50%
			transform: translateY(-50%)
			position: absolute
			border: 10px solid rgba(0,0,0,0)
			display: none
			@media screen and (min-width: 1023px)
				top: 50%

		.ais-SearchBox-reset
			display: none!important
		// 	position: absolute
		// 	top: 50%
		// 	right: 10px
		// 	padding: 10px
		// 	background-color: transparent
		// 	transform: translateY(-50%)
		// 	display: none
		// 	border: none!important
		// 	svg
		// 		display: none!important
		// 	&:after
		// 		content: 'Clear'
		// 		font-size: 13px
		// 		line-height: 20px
		// 		color: #000AFF
		// 		text-decoration: underline

		// 	&:focus, &:active
		// 		box-shadow: none!important

	&.inline
		// .ais-SearchBox-reset
		// 	@media screen and (max-width: 1023px)
		// 		&:after
		// 			display: none
		// 		background-image: url('https://www.thoughtspot.com/images/x.svg')
		// 		background-size: contain
		// 		background-position: center center
		// 		background-repeat: no-repeat
		// 		width: 20px
		// 		height: 20px
		// 		padding: 0
		// 		right: 20px
		// 		width: 16px
		// 		height: 16px

		.hits_parent_container
			background-color: #fff
			height: 0
			overflow: hidden
			box-shadow: 3px 3px 10px rgba(0,0,0,.2)
			padding: 0
			margin: 25px auto 0 auto
			box-sizing: content-box
			@media screen and (max-width: 815px)
				width: calc(100% - 20px)
				max-height: calc(100vh - 110px)!important
				&.expanded
					padding-bottom: 20px
					overflow-y: auto

		[data-hit-container]
			width: 100%
			h2
				font-size: 14px
				font-weight: 200
				color: #000
				margin: 20px 0 5px 32px
				font-weight: 600
				letter-spacing: .3px
				@media screen and (max-width: 1023px)
					margin-left: 20px

			ol
				padding-left: 0
				margin: 0
				li
					list-style: none
					position: relative
					.popout
						position: absolute
						top: -30px
						right: 2px
						width: 20px
						height: 20px
						background-image: url('https://media.thoughtspot.com/35707/1697754774-new_window.svg')
						background-repeat: no-repeat
						background-position: center center
						&:hover
							background-color: transparent!important


			li > a:hover
				background-color: #E2E4FF

			a
				text-decoration: none
				padding: 3px 32px!important
				margin: 5px 0 0 0!important
				display: block
				@media screen and (max-width: 1023px)
					padding: 3px 20px !important
				.tag
					background-color: #E2E4FF
					color: rgba(0,0,0,.5)
					border-radius: 4px
					padding: 2px 9px
					font-size: 11px
					margin: 0 8px
					display: inline-block
					height: 25px
					line-height: 25px
					font-weight: bold
					white-space: nowrap
					font-family: 'Plain-Regular', 'Optimo-Plain'
					text-transform: uppercase
					display: flex
					justify-content: center
					align-items: center
					&.first
						margin-left: 0
				.matches
					margin: 0 0 4px 55px
					font-style: italic
					color: #555
					font-weight: 300
					mark
						margin: 0
				h3
					font-size: 14px!important
					color: #717171
					font-weight: 200
					margin: 0!important
					display: flex!important
					align-items: center!important
					text-transform: none!important
					font-family: 'Plain-Regular', 'Optimo-Plain'
					*
						margin: 0
				h4
					font-size: 14px
					font-weight: 200
					color: #717171
					margin: 0
					font-family: 'Plain-Regular', 'Optimo-Plain'
				h5
					font-size: 12px
					font-weight: 400
					margin: 0
					color: #333
					font-family: 'Plain-Regular', 'Optimo-Plain'
					span
						font-weight: 600
				&.lead
					background-color: #f8f8f8
					padding: 5px
					position: relative
					padding-left: 65px
					border-radius: 4px
					display: flex
					flex-wrap: wrap
					margin: 8px 30px
					h3
						width: 100%
						margin: 0
						font-weight: 200
					p
						width: 50%
						margin: 0
						font-size: 12px
						font-weight: 300
						color: #000
						span
							font-weight: 500
					img
						position: absolute
						top: 10px
						left: 10px
				&.file
					background-color: #f8f8f8
					padding: 10px 15px 15px 15px
					border-radius: 4px
					display: inline-block
					margin-left: 17px
					margin-top: 5px
					img
						display: block
						max-width: 160px
						margin-top: 10px

			.ais-Hits--empty
				margin: 20px 0 20px 30px
				@media screen and (max-width: 1023px)
					margin-left: 20px


			a.view_more
				color: #5560FD
				text-decoration: underline
				font-weight: 200
				display: block
				margin-top: 15px
				font-size: 13px
				line-height: 20px

	&.search_page
		@media screen and (min-width: 1023px)
			padding-bottom: 50px
		.hits_parent_container
			height: auto!important
		.search_wrapper
			width: calc(100% - 344px)
			border-right: 2px solid #B2B2B2
			justify-content: left
			> div
				width: calc(100% - 30px)
				input[type="search"]
					width: 100%

		.refinement_filters
			border-left: 2px solid #B2B2B2
			padding-left: 28px
			ul
				list-style: none
				padding: 0
				margin: 0
				li
					list-style: none
					padding: 0
					margin: 4px 0
					label
						display: flex
						align-items: center
					input
						margin-right: 15px
					.ais-RefinementList-labelText
						font-size: 13px
						line-height: 15px
						color: #000
						display: block
						width: 100%
					.ais-RefinementList-count
						font-size: 13px
						border-radius: 2px
						line-height: 19px
						background: #d8d8d8
						min-width: 60px
						text-align: center
						padding: 1px 0
						display: block

		// .object_type_filter .ais-RefinementList-count, .status_filter .ais-RefinementList-count
		// 	display: none!important


		[data-hit-container]
			width: 100%
			padding-right: 15px
			ol
				padding-left: 0
				margin: 0
				li
					list-style: none
					margin: 10px 0

			> h2
				font-size: 24px
				line-height: 30px
				margin: 20px 0
				font-weight: 500

			.result
				text-decoration: none
				color: #000
				display: block
				iframe
					display: none
				.tag
					background-color: #E2E4FF
					color: rgba(0,0,0,.5)
					border-radius: 4px
					padding: 2px 9px
					font-size: 11px
					margin: 0 8px
					display: inline-block
					height: 25px
					line-height: 25px
					font-weight: bold
					white-space: nowrap
					font-family: 'Plain-Regular', 'Optimo-Plain'
					text-transform: uppercase
					display: flex
					justify-content: center
					align-items: center
					&.first
						margin-left: 0
				h3
					margin: 0
					line-height: 20px
					font-size: 13px
					font-weight: 400
					display: flex
					align-items: center
					*
						margin: 0
				p
					line-height: 20px
					font-size: 13px
					font-weight: 400
				h4
					margin: 0
					font-size: 14px
					font-weight: 400
					font-family: 'Plain-Regular', 'Optimo-Plain'
				h5
					font-size: 12px
					font-weight: 400
					margin: 0
					color: #333
					span
						font-weight: 500
				.matches
					margin: 0 0 4px 55px
					font-style: italic
					color: #555
					font-weight: 300
					mark
						margin: 0
				&.lead
					background-color: #f8f8f8
					padding: 5px
					position: relative
					padding-left: 65px
					border-radius: 4px
					display: flex
					flex-wrap: wrap
					h3
						width: 100%
						margin: 0
					p
						width: 50%
						margin: 0
						font-size: 12px
						font-weight: 300
						span
							font-weight: 500
					img
						position: absolute
						top: 10px
						left: 10px
				&.file
					background-color: #f8f8f8
					padding: 10px 15px 15px 15px
					border-radius: 4px
					display: inline-block
					margin-left: -14px
					img
						display: block
						max-width: 160px
						margin-top: 10px


			a.view_more
				color: #5560FD
				font-weight: 200
				display: block
				text-decoration: underline
				margin-top: 15px
				font-size: 13px
				line-height: 20px
			
		.filter_tabs
			padding-top: 40px
			width: calc(100% - 344px)
			border-right: 2px solid #B2B2B2
			display: flex
			flex-wrap: wrap
			a
				margin-right: 15px
				font-size: 14px
				line-height: 21px
				text-decoration: none
				color: white
				background-color: black
				padding: 5px 20px
				border-radius: 3px
				margin-bottom: 10px
				&.active
					background-color: #000AFF

	
	.row
		display: flex
		text-align: left
		&.hide
			display: none
		&.show_all_filters
			.additional_filter
				display: flex
		

	.refinement_filters
		max-width: 346px
		width: 100%
		padding-bottom: 40px
		padding-top: 20px
		.more_filters
			display: flex
			flex-wrap: wrap
			// flex-direction: column
			padding: 0 20px
			margin: 0
			transition: background-color .5s, padding .5s, margin .5s
			background-color: transparent

			&.expand
				margin: 0 0 20px 0
				padding: 0 20px 10px 20px
				background-color: #F2F2F2
			.additional_filter
				display: flex
				flex-direction: column-reverse
				justify-content: flex-end
				width: 100%
			.additional_filter_group
				div h4
					margin: 0
				div.best_comment_filter
					h4
						margin-bottom: 3px
				.additional_filter
					justify-content: normal
			.date_filter
				display: flex
				flex-direction: column

		> div
			margin: 0
			padding: 0
			display: flex
			flex-direction: column-reverse
			&:first-child > h4
				margin-top: 0
			h4
				padding: 0
				margin: 10px 0 -3px 0
				font-size: 15px
				line-height: 30px
				font-weight: 700
			> h3
				font-size: 24px
				line-height: 30px
				font-weight: 700
				margin: 0 0 12px 0
		
		.additional_filter
			height: 0
			overflow: hidden
			opacity: 0
			transition: opacity .5s, height .5s, margin .5s
			&.expand
				&.best_comment_filter, &.no_best_comment_filter
					opacity: 1
				&.has_comments_filter
					opacity: 1
				&.has_no_comments_filter
					opacity: 1
				&.object_type_filter
					opacity: 1
				&.topics_filter
					opacity: 1
				&.status_filter
					opacity: 1
				&.date_filter
					opacity: 1
					margin-top: 15px
					margin-bottom: 10px
			// &.object_type_filter, &.status_filter
			// 	.ais-RefinementList
			// 		min-height: 120px

		.ais-RefinementList-showMore, button.show_more
			background-color: transparent
			color: #000AFF
			text-decoration: underline
			padding: 7px 0
			border: none
			font-size: 13px
			line-height: 20px
			font-weight: 500
			text-align: left
			margin-top: 0
			margin-bottom: 5px
			cursor: pointer
		
		.ais-ToggleRefinement
			.ais-ToggleRefinement-labelText
				font-size: 13px
				line-height: 15px
				color: #000
				display: inline-block
				position: relative
				margin-left: 7px
				top: -1px

		.community_datepicker
			display: flex
			position: relative
			> span 
				font-size: 13px
				display: inline-block
				margin: 2px 3px
			.datepicker_input
				width: 100%
				position: absolute
				top: 0
				left: 0
				opacity: 0
				z-index: 2
			[data-min], [data-max]
				width: 120px
				pointer-events: none
				border: none
				border-bottom: 1px solid #eee
				padding: 5px
				font-size: 13px
			// [data-min]
			// [data-max]


			
	
	.hits_parent_container
		transition: height .5s, opacity .5s
		position: relative
		text-align: left!important
		&.no_transition
			transition: opacity .5s
		&.hide_initially
			opacity: 0
		.more_hits_button
			position: fixed
			bottom: 5px
			font-size: 12px
			line-height: 24px
			left: 50%
			background-color: black
			color: white
			padding: 2px 32px 2px 20px
			transform: translateX(-50%)
			border-radius: 13px
			opacity: 0
			pointer-events: none
			transition: opacity .5s
			cursor: pointer
			background-image: url('https://media.thoughtspot.com/35707/1677878896-arrow_down_icon.svg')
			background-repeat: no-repeat
			background-size: 16px 16px
			background-position: 53px 7px
		&.more.expanded
			.more_hits_button
				pointer-events: auto
				opacity: 1


	.search_wrapper
		text-align: center
		width: 100%
		.ais-SearchBox
			@media screen and (max-width: 815px)
				width: 100%

	.ais-Hits--empty
		padding: 0
		font-style: italic
		color: black

.hits_parent_container
	&.expanded
		padding-bottom: 30px
		border-bottom: 30px solid white

	@media screen and (max-width: 815px)
		&.expanded
			padding-bottom: 20px
			overflow-y: auto

.full_screen_search
	background-color: white
	width: calc(100% - 70px)
	height: calc(100% - 125px)
	max-width: 1050px
	position: absolute
	top: 90px
	right: 35px
	padding: 50px
	overflow-y: auto
	@media screen and (max-width: 1023px)
		padding: 25px
		top: 10px
		width: calc(100% - 20px)
		height: calc(100vh - 10px)
	@media screen and (max-width: 815px)
		.row
			flex-direction: column-reverse
			.refinement_filters
				border-left: 0
				max-width: 100%
				padding-left: 0
				padding-bottom: 0
		.search_wrapper
			width: calc(100% - 28px)!important
			border-right: 0!important
		.filter_tabs
			width: calc(100% - 28px)!important
			border-right: 0!important

.full_screen_search_wrapper
	width: 100%
	height: 100%
	position: fixed
	top: 0
	left: 0
	background-color: rgba(0,0,0,.2)
	z-index: 9999
	input, form
		margin: 0
	@media screen and (max-width: 1023px)
		.search_wrapper
			.ais-SearchBox-form
				&:before
					width: 26px
					height: 26px
					top: 7px
					left: 7px
		input[type="search"]
			height: 40px
			font-size: 18px
			text-indent: 40px


.full_screen_search_open
	overflow: hidden
	height: 100vh

[data-search]
	max-width: 1040px
	margin: 0 auto
	width: 100%


input[type="search"].ais-SearchBox-input::-webkit-search-decoration,
input[type="search"].ais-SearchBox-input::-webkit-search-cancel-button,
input[type="search"].ais-SearchBox-input::-webkit-search-results-button,
input[type="search"].ais-SearchBox-input::-webkit-search-results-decoration
	-webkit-appearance:none

// .aa-PanelLayout
// 	display: flex
// 	flex-direction: row

// .aa-Source
// 	width: auto
// 	padding: 15px
// 	flex: 1

// .aa-SourceHeader
// 	font-size: 24px
// 	margin-bottom: 15px
// 	margin-left: 15px
// 	border-bottom: 1px solid #000
// 	padding-bottom: 15px

// .aa-Item
// 	padding: 0 15px

// #hits_container

// 	.result
// 		text-decoration: none
// 		color: #000
// 		h3
// 			line-height: 20px
// 			font-size: 16px
// 		h4
// 			margin-top: -10px
// 			font-size: 14px
// 			font-weight: normal

