.community_algolia
	.algolia_search_wrapper.inline
		position: relative
		z-index: 5
		max-width: 1048px
		@media screen and (max-width: 1023px)
			max-width: calc(100vw - (100vw - 100%))

		.clear_search
			@media screen and (min-width: 1023px)
				width: 36px
				height: 36px
				top: 50%
				right: 4px

	&.comm-page-home
		.algolia_search_wrapper.inline
			.clear_search
				@media screen and (min-width: 1023px)
					top: 50%
					right: 7px

	.header_search.algolia_search_wrapper.inline
		height: 0
		margin-top: -60px
		input
			height: 40px
			width: 44px
			border: none
			cursor: pointer
			transition: width .5s, border .5s
			text-indent: 40px
			font-size: 18px
			&.focused
				width: 430px
				border: 1px solid #333
				max-width: 94vw
				@media screen and (max-width: 1023px)
					margin-right: 13px
					width: calc(100vw - 70px)

		// form.expanded
		// 	.ais-SearchBox-reset:not([hidden])
		// 		display: block
		form
			margin-top: 90px
			@media screen and (max-width: 880px)
				margin-top: 71px
			&:before
				height: 26px
				width: 26px
				top: 6px
				left: 0
				pointer-events: none
				width: 45px
		.search_wrapper
			justify-content: flex-end
			height: 0
			.ais-SearchBox
				@media screen and (max-width: 880px)
					width: auto
					margin-right: 24px

		.hits_parent_container
			margin-top: 140px
			@media screen and (max-width: 880px)
				margin-top: 120px
				

	.algolia_search_wrapper
		ol li
			padding-left: 0!important
			&:before
				display: none!important

	.algolia_search_wrapper
		.search_wrapper
			justify-content: flex-start

	.community_hero
		.algolia_search_wrapper.inline
			margin-top: 40px
			margin-bottom: -90px

	.full_screen_search
		left: 50%
		transform: translateX(-50%)
		right: auto

	.searchRegion
		display: none

	// @media screen and (max-width: 1023px)