.algolia_docs
	.algolia_search_wrapper
		&.inline.header_algolia_search
			position: absolute
			top: -2px
			right: 9px
			@media screen and (min-width: 1023px)
				width: 700px!important
			z-index: 15
			.search_wrapper
				display: flex
				justify-content: flex-end!important
				// .ais-SearchBox-submit
				// 	font-size: 18px!important
				// 	top: 3px!important
				// 	right: 7px!important
				// 	margin: 0
				input, form
					margin: 0
				form
					&:before
						top: 7px!important
						width: 26px
						height: 26px
					input.ais-SearchBox-input
						text-indent: 50px
						font-size: 18px

			.ais-SearchBox-input
				width: 250px!important
				height: 40px!important
				&.focused
					width: 500px!important				


			.hits_parent_container
				max-height: calc(100vh - 100px)
				overflow-y: auto

		&.inline
			.clear_search
				@media screen and (min-width: 1023px)
					width: 35px
					height: 35px
					top: 50%
					right: 5px

	.navbar
		z-index: 5000!important

	[data-hit-container]
		.result
			h4
				text-shadow: .1px .1px black



	@media screen and (max-width: 1023px)
		.navbar-menu
			padding: 0!important
		.algolia_search_wrapper.inline.algolia_docs.header_algolia_search
			width: calc(100vw - (100vw - 100%))!important
			top: 10px
			right: 0
			.view_more
				display: none!important
			.ais-SearchBox-input
				width: 100vw!important
			.hits_parent_container
				width: calc(100vw - 20px)!important
				margin-top: 10px
				max-height: calc(100vh - 130px)
				overflow-y: auto!important

.algolia_search_wrapper.inline.algolia_docs_embed.header_algolia_search
	width: calc(100vw - 20px)!important
	top: 0
	.hits_parent_container
		margin-top: 10px
		max-height: calc(100vh - 81px) !important
		.more_hits_button
			background-color: #C0C6CF
			color: #000
		[data-hit-container]
			li > a:hover
				background-color: #EAEDF2
			a
				.tag
					background-color: #EAEDF2

	.ais-SearchBox-input
		width: 100vw!important
		border-radius: 68.5px
		&.focused
			width: 100vw!important
	
	.clear_search
		width: 32px
		height: 32px
		right: 5px