.algolia_wrapper_div
	height: 33px
	@media screen and (max-width: 900px)
		display: none


.algolia_skilljar
	.algolia_search_wrapper
		&.inline
			position: absolute
			top: 14px
			right: 100px
			width: 700px!important
			z-index: 15
			.search_wrapper
				display: flex
				justify-content: flex-end!important
				// .ais-SearchBox-submit
				// 	font-size: 16px!important
				// 	height: 31px!important
				// 	width: 80px!important
				input, form
					margin: 0
				form:before
					top: 2px !important
					left: 12px !important
					height: 26px
					width: 26px

			.ais-SearchBox-input
				width: 250px!important
				height: 31px!important
				text-indent: 40px!important
				font-size: 18px!important
				padding: 0 0 2px 0!important
				&.focused
					width: 500px!important


			.hits_parent_container
				max-height: calc(100vh - 100px)
				overflow-y: auto

			.clear_search
				@media screen and (min-width: 1023px)
					width: 29px
					height: 29px
					top: 50%
					right: 4px
				@media screen and (min-width: 1023px)
					right: 3px
					width: 29px
					height: 29px
					top: 50%

	@media screen and (max-width: 1023px)
		.navbar-menu
			padding: 0!important
		.cbp-spmenu-open
			width: 100%!important
				

		.algolia_search_wrapper.inline
			position: absolute
			top: 0
			right: 0
			width: 100%!important
			height: calc(100vh - 70px)
			.ais-SearchBox-input
				width: 100%!important
				&.focused
					width: 100%!important
			.view_more
				display: none!important
			.hits_parent_container
				width: 100%
				max-height: calc(100vh - 142px)
				overflow-y: auto!important

.algolia_skilljar2

	@media screen and (max-width: 1023px)
		.navbar-menu
			padding: 0!important
		.cbp-spmenu-open
			width: 100vw!important

	.algolia_search_wrapper
		&.inline
			position: static
			top: 0
			right: 0
			width: auto!important

			.hits_parent_container
				position: absolute
				right: 100px
				width: 620px
				@media screen and (max-width: 1374px)
					right: 5%


			.ais-SearchBox-input
				width: 200px!important
				@media screen and (max-width: 1374px)
					width: 150px!important
				&.focused
					width: 250px!important
					@media screen and (max-width: 1374px)
						width: 180px!important


	#catalog-left-nav
		padding: 20px 0
		.algolia_search_wrapper
			&.inline
				.hits_parent_container
					position: static
					right: auto
					width: 94vw
					margin: 10px 0 0 0
					&.expanded
						height: calc(100vh - 195px)!important

			.ais-SearchBox-input
				&.focused
					width: 300px!important
					box-shadow: 0 0 5px #999!important
					@media screen and (max-width: 1374px)
						width: 94vw!important
						margin: 0


	@media screen and (max-width: 1200px)
		#header-left a.header-logo-link
			width: 250px!important


