.screenreader_only
	position: absolute !important
	left: -9999px !important

@media (min-width: 768px)
	.mobile_only
		display: none!important

@media (max-width: 768px)
	.desktop_only
		display: none!important


@media (min-width: 768px)
	.nav_wrapper
		border-radius: 20px
		background: linear-gradient(270deg, #fba76f 0, #d89af0 29%, #99d8da 67%, #0a6cf9 96%)
		padding: 2px
		font-family: 'Optimo-Plain'
		position: relative

		ul
			list-style: none
			margin: 0
			padding: 0

		button, a
			display: block
			font-size: 16px
			line-height: 24px
			letter-spacing: -.25px
			text-decoration: none
			padding: 7px 25px
			background-color: transparent
			border: none
			color: #000
			cursor: pointer
			font-family: 'Optimo-Plain'
			white-space: nowrap
			&:hover
				font-weight: bold

		> ul
			background-color: white
			border-radius: 20px
			display: flex
			align-items: center
			justify-content: space-between
			li
				> button, > a
					padding: 7px 25px
					position: relative



		.top_level
			> span:first-child
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)

		.subnav
			position: absolute
			top: calc(100% + 24px)
			left: 0
			z-index: 1000
			background-color: #fff
			padding: 2px
			opacity: 0
			transition: all .3s
			pointer-events: none
			border-radius: 24px
			background: linear-gradient(270deg, #fba76f 0, #d89af0 29%, #99d8da 67%, #0a6cf9 96%)
			width: 800px
			.mouse_bridge
				content: ' '
				width: 100%
				height: 32px
				position: absolute
				background-color: transparent
				top: -32px
				left: 0

			&.show
				opacity: 1
				pointer-events: auto
				top: calc(100% + 30px)
			.subnav_inner
				border-radius: 22px

		.second_level_subnav, .subnav_inner:not(.has_second_level) .first_level_subnav
			width: 100%
			display: flex
			flex-wrap: wrap
			border-left: 30px solid #f1fffe
			border-right: 30px solid #f1fffe
			border-top-right-radius: 22px
			border-bottom-right-radius: 22px
			li
				width: 50%
				&:nth-last-child(-n+2)
					a
						margin-bottom: 0
					
			a
				width: 100%
				background-color: #f1fffe
				color: #000
				font-size: 16px
				text-decoration: none
				line-height: 65px
				letter-spacing: -.25px
				padding: 0
				height: 65px
				margin-bottom: 2px
		
		.subnav_inner:not(.has_second_level) .first_level_subnav
			width: auto
			border-radius: 22px
			li
				width: 33.33%
				&:nth-last-child(-n+3)
					a
						margin-bottom: 0

			
		.subnav_inner
			&.has_second_level
				display: flex
				.first_level_subnav
					width: 215px
					display: flex
					flex-direction: column
					border-top-left-radius: 22px
					border-bottom-left-radius: 22px
					overflow: hidden
					flex-shrink: 0
					border-left: 30px solid #fff
					border-right: 30px solid #fff
					margin-right: 2px
					li
						margin-bottom: 2px
						overflow: hidden
						height: 100%
						&:last-child
							margin-bottom: 0
					a
						background-color: white
						height: 100%
						width: 100%
						display: flex
						justify-content: center
						align-items: center
						padding: 0				

				.arrow
					content: ''
					position: absolute
					top: calc(25% - 1px)
					left: 274px
					background-image: url('https://media.thoughtspot.com/35707/1734480394-refresh_nav_arrow.png?auto=format')
					transform: rotate(90deg)
					width: 19px
					height: 11px
					margin-top: -2px
					z-index: 1
					transition: all .3s


@media (max-width: 768px)
	.main_menu_toggle
		background-image: url(https://media.thoughtspot.com/35707/1736895784-refresh_hamburger_background.svg)
		border: 0
		background-color: transparent
		position: relative
		width: 28px
		height: 28px
		position: absolute
		top: 16px
		right: 16px
		&.active
			.x
				opacity: 1
				transform: rotate(90deg)
			.lines
				opacity: 0
				transform: rotate(90deg)
			
	.lines, .x
		transition: all .3s
		position: absolute
		top: 25%
		left: 25%
		width: 50%
		height: 50%
		background-size: contain
		background-repeat: no-repeat
	
	.lines
		background-image: url(https://media.thoughtspot.com/35707/1736895769-refresh_hamburger_lines.svg)
		
	.x
		background-image: url(https://media.thoughtspot.com/35707/1736895790-refresh_hamburger_x.svg)
		opacity: 0


	.nav_wrapper
		max-width: 100vw
		position: fixed
		top: 10px
		left: 0
		height: 60px

		ul
			list-style: none
			padding: 0
			margin: 0

		> ul
			transform: translateY(-100%)
			transition: all .3s
			position: fixed
			top: 0
			left: 0
			width: 100%
			opacity: 0
			pointer-events: none
			background-color: white
			padding-top: 60px
			padding-bottom: 8px
			box-shadow: 0 6px 4px rgba(0,0,0,.1)
			&.active
				transform: translateY(0)
				opacity: 1
				pointer-events: auto

			button, a
				display: block
				font-size: 16px
				line-height: 24px
				letter-spacing: -.25px
				text-decoration: none
				padding: 0 8px
				background-color: transparent
				border: none
				color: #000
				cursor: pointer
				font-family: 'Optimo-Plain'
				white-space: nowrap
				position: relative
				width: 100%
				box-sizing: border-box
				span
					height: 62px
					display: flex
					align-items: center

		.top_level_li
			> a, button
				&:after
					content: " "
					height: 2px
					background: linear-gradient(270deg, #fba76f 0, #d89af0 29%, #99d8da 67%, #0a6cf9 96%)
					display: block

			&.has_subnav
				> button
					position: relative
					&:before
						content: " "
						position: absolute
						top: 50%
						right: 10px
						background-image: url(https://media.thoughtspot.com/35707/1734480394-refresh_nav_arrow.png?auto=format)
						width: 19px
						height: 11px
						margin-top: -5px
						z-index: 1
						transition: all .3s
						transform: rotate(180deg)
			&.active
				> button
					&:before
						transform: rotate(0deg)

		.subnav
			ul
				margin: 0 30px
			li
				a
					height: 0
					overflow: hidden
					// height: 60px
					line-height: 60px
					transition: all .3s
					&:after
						content: " "
						height: 2px
						background: linear-gradient(270deg, #fba76f 0, #d89af0 29%, #99d8da 67%, #0a6cf9 96%)
						display: block

			&.active
				li
					a
						height: 62px