@import url('https://www.thoughtspot.com/fonts/Optimo-Plain/Plain-Regular.otf') format('opentype')
@import url('https://www.thoughtspot.com/fonts/Optimo-Plain/Plain-Medium.otf') format('opentype')
@import url('https://www.thoughtspot.com/fonts/Optimo-Plain/Plain-Bold.otf') format('opentype')
@import url('https://www.thoughtspot.com/fonts/Optimo-Plain/Plain-Light.otf') format('opentype')
@import url('https://www.thoughtspot.com/fonts/Optimo-Plain/Plain-Ultralight.otf') format('opentype')

@font-face
	font-family: 'Optimo-Plain'
	font-style: normal
	font-weight: normal
	font-display: block
	src: url('https://www.thoughtspot.com/fonts/Optimo-Plain/Plain-Regular.otf') format('opentype')

@font-face 
	font-family: 'Optimo-Plain'
	font-style: normal
	font-weight: 500
	font-display: block
	src: url('https://www.thoughtspot.com/fonts/Optimo-Plain/Plain-Medium.otf') format('opentype')

@font-face 
	font-family: 'Optimo-Plain'
	font-style: normal
	font-weight: 700
	font-display: block
	src: url('https://www.thoughtspot.com/fonts/Optimo-Plain/Plain-Bold.otf') format('opentype')

@font-face 
	font-family: 'Optimo-Plain'
	font-style: normal
	font-weight: 300
	font-display: block
	src: url('https://www.thoughtspot.com/fonts/Optimo-Plain/Plain-Light.otf') format('opentype')

@font-face 
	font-family: 'Optimo-Plain'
	font-style: normal
	font-weight: 200
	font-display: block
	src: url('https://www.thoughtspot.com/fonts/Optimo-Plain/Plain-Ultralight.otf') format('opentype')

	