@import "css/vars.styl"
@import "css/imports/_mixins"

body
	margin: 0
	padding: 0

form#pardot-form
	// background-color: #d7d8fa
	background-color: #fff
	padding: 1px 15px 15px 15px
	margin-top: 0
	margin-bottom: 0
	overflow: hidden
	&.prepared
		visibility: visible!important

	.hide
		display: none

	.form-field
		position: relative
		label
			background-image: none
			text-align: left
			width: auto
			position: absolute
			top: 10px
			pointer-events: none
			font-weight: 500
			font-size: 16px
			left: 8px
			// left: -9999px
			transition: top .3s, transform .3s, background-color .3s
			padding: 3px 15px 3px 8px
			text-shadow: 0px 0px 3px rgba(255,255,255, .75)
			border-radius: 4px
			background-color: white
			backface-visibility: hidden
			-webkit-font-smoothing: subpixel-antialiased
			transform: translateZ(0)
			color: rgba(0,0,0,0.6)
			&.populated, &.focused
				background-color: #fff
				top: -12px
				left: 5px
				z-index: 1
				// left: -9999px
				transform: scale(.8)
				color: rgba(0,0,0,0.9)
			&.disabled
				color: rgba(0,0,0,0.3)

		&.pd-select
			position: relative
			margin: 12px 0 12px 0!important
			select
				font-size: 16px
				color: rgba(0,0,0,0.5)
				border-radius: 5px
				height: 40px
				text-indent: 12px
				&.populated
					color: rgba(0,0,0,0.9)
			label
				display: none
			&:after
				content: ' '
				background-image: url('https://media.thoughtspot.com/35707/1663972326-form_arrow.svg')
				background-repeat: no-repeat
				background-size: contain
				width: 16px
				height: 8px
				position: absolute
				border: 5px solid white
				top: 15px
				right: 4px
				background-color: white
				box-sizing: content-box

		&.pd-hidden
			display: none


	.pardot_embed_message
		font-size: 15px
		padding: 15px 0 10px 0
		font-style: italic
		&.error
			font-style: normal
			color: red
			&:before
				content: ' '
				display: block
				width: 20px
				height: 20px
				background-image: url('https://storage.pardot.com/710713/53330/error.svg')
				background-size: contain
				background-repeat: no-repeat
				margin: 0 0 5px 0

	.SaaS_Trial_Data_Access, .SaaS_Trial_Terms_Accepted
		margin: 7px 0!important

	.SaaS_Trial_Terms_Accepted
		.has_error
			padding-bottom: 20px
		.error
			absolute: left 0 bottom -4px

	input, textarea
		&::placeholder
			font-weight: 300
			color: $body_grey
			font-size: 14px
			text-indent: 10px
			opacity: 0
			// opacity: .5
			width: auto
			text-align: left

	p.submit
		position: relative
		&:before
			content: ' '
			width: 24px
			height: 24px
			absolute: top 9px left 10px
			background-image: url('https://storage.pardot.com/710713/49415/loader.svg')
			bglayout('cover')
			opacity: 0
		.wait_message
			display: none
		&.show_loading
			pointer-events: none
			&:before
				opacity: 1
			.wait_message
				display: block
				margin-top: 8px
				text-align: center

	input[type="text"]
		width: 100%
		height: 32px
		// border: none
		border: 1px solid #ccc
		margin-bottom: 0
		color: $body_grey
		text-indent: 10px
		font-family: 'Optimo-Plain'
		font-size: 16px

	input, select
		background-color: white
		&[disabled]
			opacity: .5

	input[type="checkbox"]
		margin: 0 10px 0 0

	select
		width: calc(100% + 4px)
		margin-bottom: 0
		color: rgba(0,0,0,0.3)
		text-indent: 7px
		height: 38px
		font-size: 16px
		// border: none
		border: 1px solid #ccc
		font-family: 'Optimo-Plain'
		option
			background-color: white
			color: #000
			font-family: 'Optimo-Plain', Arial, Helvetica, Verdana, sans-serif

	.pd-textarea
		margin-top: 12px
		label
			display: block
			float: none
			text-align: left
			margin-bottom: 5px
			margin-top: 0
		textarea
			font-family: 'Optimo-Plain'
			width: 100%
			border: 1px solid #ebebeb
			padding: 10px
			color: rgba(0,0,0,0.6)

	p
		margin: 0
		line-height: 18px

	p.error
		font-size: 12px
		font-weight: 700

	.pd-text, .pd-select
		margin-top: 12px

	.pd-select
		label
			absolute: top 0 left -9999px

	.no-label
		margin: 0 10px 0 0
		label
			line-height: 1.5em
			font-size: 13px

	.pd-checkbox
		position: relative
		padding-left: 22px
		margin-left: 15px!important
		input
			absolute: top 3px left 0
		label
			color: #666
			position: relative
			left: 0
			top: 0
			padding-left: 0
			font-size: 10px
			line-height: 15px

	.GDPR_Consent_Checkbox
		text-align: left

	.pd-text
		span.description
			margin-left: 15px
			margin-top: 7px
			font-size: 10px
			line-height: 15px
			color: #666
			display: block
			margin-bottom: 0

	.GDPR_Consent_Checkbox, .GDPR_Express_Consent
		margin-top: 15px
		span
			font-size: 9px
			line-height: 15px

	.CloudExpress_Has_AWS_Access
		overflow: hidden
		> label
			text-align: left
			width: 210px
		span.value
			margin-left: 0
		&.pd-checkbox
			input
				top: 8px

	.CloudExpress_Has_Data_Access
		overflow: hidden
		> label
			text-align: left
			width: 210px
		span.value
			margin-left: 0
		&.pd-checkbox
			input
				top: 8px

	.submit, .psubmit
		margin: 10px 0 0 0
		input[type="submit"]
			width: 100%
			text-align: center
			margin: 12px 0 0 0
			font-size: 16px
			line-height: 24px
			font-weight: normal
			border-radius: 4px
			display: block
			text-decoration: none
			padding: 9px 34px
			background-color: #000
			border: 1px solid #000
			color: white
			// border: none
			transition: background-color .3s, color .3s
			&:disabled
				opacity: .5
			&:hover
				color: #fff
				background-color: #333
	&.footer_form
		padding: 0
		background-color: transparent
		height: 70px
		p.form-field
			absolute: top 0 left 0
			width: 65%
			input[type="text"]
				background-color: #000
				border-bottom: 1px solid #353a44
				color: $body_grey_light
				font-size: 14px
				height: 26px
				margin-top: 7px
				&::placeholder
					color: $body_grey_light
					font-size: 14px
					text-indent: 0
		p.submit
			absolute: top 0 right 0
			width: 30%
	
			input[type="submit"]
				font-size: 14px!important
				font-weight: 400!important
				text-transform: none!important
				padding: 5px 20px!important
				letter-spacing: inherit!important
				background-color: #353a44!important
			&.show_loading
				pointer-events: none
				&:before
					opacity: 1
					left: calc(50% - 12px)
				input[type="submit"]
					display: none
				.wait_message
					display: block
					margin-top: 33px
					text-align: center
		p.error
			color: #da0f0f!important
			padding-top: 50px

	&.style_contact
		background-color: transparent
		padding: 1px 5px 0 0
		input
			border: 1px solid #EBEBEB
		select
			border: 1px solid #EBEBEB

	#form_additional_info
		color: #888
		margin: 20px 0 15px 0

	#form_divider
		display: flex
		justify-content: space-between
		align-items: center
		color: #888
		margin: 20px 0 -10px 0
		span
			background-color: #888
			height: 1px
			display: inline-block
			width: calc(50% - 20px)

	#googleSignupDiv
		position: relative
		margin-top: 10px

		iframe
			position: static
			margin: 0 auto 0 auto!important
			width: 272px!important
			left: -10px!important

#demandbase-autocomplete .ui-menu .ui-menu-item a
	font-size: 13px

.redshift_fields
	padding: 10px 5px 20px 5px
	label
		display: block
		margin-top: 10px

	.passwords_no_match
		color: red
	.passwords_match
		color: green
.gdpr_error
	color: #d13f19
	margin: 10px 0 0 0
	display: flex
	align-items: center
	&:before
		content: ' '
		display: block
		width: 20px
		height: 20px
		background-image: url(https://storage.pardot.com/710713/53330/error.svg)
		background-size: contain
		background-repeat: no-repeat
		margin: 0 8px 5px 0

.google_signup_button
	background-image: url('https://media.thoughtspot.com/35707/1657319006-google_logo.png')
	background-repeat: no-repeat
	background-position: left center
	background-color: #3673e0
	color: white
	border: 3px solid #3673e0
	height: 42px
	border-radius: 3px
	width: 272px
	padding: 0 25px 0 45px
	display: block
	margin: 0 auto
	cursor: pointer
	position: absolute
	top: 0
	left: 50%
	transform: translateX(-50%)
	pointer-events: none

form#pardot-form.style_trialpage
	.already_have_account
		text-align: center!important
		font-size: 14px
		line-height: 22px
		letter-spacing: -0.25px
		font-weight: 400
		margin-top: -5px

	.pd-checkbox
		position: relative
		padding-left: 22px
		margin-left: 0 !important
		input
			top: 5px

	input[type="text"]
		border-radius: 5px
		height: 34px
		// display: flex
		// align-items: center

	.pd-text span.description
		margin-left: 0

	h2
		font-size: 24px
		line-height: 32px
		letter-spacing: -0.25px
		font-weight: 500
		color: #000
		margin: 0 0 0 0
		text-align: center

	p
		padding: 3px 0

	// .form_heading
	// 	display: block!important

	.form-field
	// 	label:not(.inline)
	// 		font-size: 14px
	// 		line-height: 22px
	// 		letter-spacing: -0.25px
	// 		position: static
	// 		pointer-events: auto
	// 		top: auto
	// 		padding: 3px 0 6px 0
	// 		&.populated, &.focused
	// 			top: auto
	// 			transform: none
		label.inline
			font-size: 12px
			line-height: 18px
			font-weight: 400

	#resubscribeConfirmText
		margin: 15px 0 20px 0

	.submit
		margin: 0
		padding: 0
		input[type="submit"]
			margin-top: 16px

form#pardot-form.style_datatrends
	background-color: #EAEFFA
	padding: 0
	input[type="text"]
		box-sizing: border-box
		height: 36px

	.form-field.pd-select select	
		width: 100%
		font-size: 12px
	
	.email .description
		margin-left: 0
	.submit input
		font-size: 13px
		padding: 5px 34px
	p
		&:nth-last-child(4), &:nth-last-child(5)
			display: none