@import 'vars.styl'

.case_submission_wrapper
	max-width: 1040px
	margin: 0 auto
	a
		text-decoration: none

	.row
		display: flex
		align-items: flex-start

	h2
		font-size: 30px!important
		line-height: 34px
		margin-bottom: 10px

	.explore
		width: 280px
		background-color: #f1f1fe
		padding: 30px
		margin-left: 100px
		flex-shrink: 0
		h2
			margin-top: 0
		.button
			margin: 10px 0

	.support_buttons
		display: flex
		margin: 30px 0
		button
			margin: 0 10px

	.case_submission_search_wrapper
		width: 100%
		h4
			margin-top: 50px
			margin-bottom: 10px

	.case_submission_search_container
		input
			width: 100%
			height: 40px
			font-size: 20px
			text-indent: 10px
		.ais-SearchBox-submit
			display: none
		.ais-SearchBox-reset
			display: none

	.after_search_buttons
		margin: 50px 0
		.button
			margin-right: 10px

	.case_submission_hits_container
		ol
			margin: 0
			padding: 0
			list-style: none
			li
				padding-left: 0
				margin: 15px 0
				&::before
					content: ' '
					display: none!important
		h3
			display: flex
			font-size: 14px
			align-items: center
		a
			text-decoration: none
			color: #333
		.tag
			background-color: #e2e4ff
			color: rgba(0,0,0,0.5)
			border-radius: 4px
			padding: 2px 9px
			font-size: 11px
			margin: 0 8px 0 0
			display: inline-block
			height: 25px
			line-height: 25px
			font-weight: bold
			white-space: nowrap
			font-family: 'Plain-Regular','Optimo-Plain'
			text-transform: uppercase
			display: flex
			justify-content: center
			align-items: center
		.ais-Hits--empty
			> p
				margin-top: 20px

	.quick_access
		background-color: #f1f1fe
		padding: 30px
		margin: 30px 0
		*:first-child
			margin-top: 0
		a
			display: block
			margin: 0 0 5px 0
			font-size: 20px
			color: #5654eb

	.case_submission_more_button
		color: #5654eb

.modal
	position: fixed
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	width: 800px
	height: 500px
	max-height: 100vh
	max-width: 100vw
	box-shadow: 0px 0px 25px rgba(0,0,0,0.5)
	z-index: 12
	background-color: white
	.modal_content
		height: 100%
	iframe
		width: 100%
		height: calc(100% - 70px)
		border: none
		padding: 10px
		box-sizing: border-box
	.solve_bar
		height: 70px
		display: flex
		width: 100%
		align-items: center
		justify-content: center
		padding: 0 10px
		box-sizing: border-box
		.button
			margin-left: 10px
			text-decoration: none
	.modal_no_content
		padding: 20px
		a
			width: 100%
			margin: 5px 0
			box-sizing: border-box
			text-decoration: none

.modal_backdrop
	background-color: rgba(0,0,0,0.5)
	position: fixed
	top: 0
	left: 0
	width: 100vw
	height: 100vh
	z-index: 11

.close_modal
	background-image: url('https://media.thoughtspot.com/35707/1663278681-close.svg')
	background-position: center center
	background-repeat: no-repeat
	border: none
	background-color: white
	text-indent: -9999px
	cursor: pointer
	width: 45px
	height: 45px
	position: absolute
	top: 0px
	right: 0px
	&.iframe
		background-color: transparent
		top: 0
		right: 0
