<script src="https://scripts.thoughtspot.com/algolia_search.bundled.js"></script>

<script>
	let initialized = false;
	async function initializeAlgolia() {
		if (initialized) return;
		initialized = true;

		const searchElement = document.querySelector('#algolia-search');
		document.body.classList.add('algolia_docs')
		searchElement.classList.add('algolia_docs')

		const pathParams = window.location.pathname.split('/').filter(Boolean)

		let deployment = ['software', 'cloud'].indexOf(pathParams[0]) > -1 ? pathParams[0] : null
		let version = pathParams[1] ? pathParams[1] : null

		let filters = { docs: {} }

		if (deployment) {
			filters.docs.deployment = deployment
		}

		if (version) {
			filters.docs.version = version
		}

		// FULL SCREEN
		const fullScreenSearchWrapper = document.createElement('div')
		const fullScreenSearchContainer = document.createElement('div')
		fullScreenSearchWrapper.classList.add('full_screen_search_wrapper')
		fullScreenSearchWrapper.style.display = 'none'
		fullScreenSearchContainer.classList.add('full_screen_search')
		fullScreenSearchContainer.classList.add('algolia_search_wrapper')
		document.body.appendChild(fullScreenSearchWrapper)
		fullScreenSearchWrapper.appendChild(fullScreenSearchContainer)

		const fullScreenAlgoliaSearch = await new window.AlgoliaSearchComponent(fullScreenSearchContainer, {
			inline: false,
			firstResults: 'docs',
			onCloseButton: () => {
				fullScreenSearchWrapper.style.display = 'none'
				document.body.classList.remove('full_screen_search_open')
			}
		});

		// INLINE
		const algoliaSearch = await new window.AlgoliaSearchComponent(searchElement, {
			inline: true,
			filters: filters,
			addClass: 'header_algolia_search',
			firstResults: 'docs',
			viewMoreFunction: (section, searchValue, instance) => {
				fullScreenSearchWrapper.style.display = 'block';
				fullScreenAlgoliaSearch.setQuery(searchValue)
				fullScreenAlgoliaSearch.viewMoreFilter(section)
				document.body.classList.add('full_screen_search_open')
				// instance.api.closeSearchResults()

				// Key is refinement list class name. Value is value of element to click
				fullScreenAlgoliaSearch.selectFilters({
					deployment: _.get(filters, 'docs.deployment'),
					docs_version: _.get(filters, 'docs.version')
				})
			}
		});

		// BODY
		if (window.location.pathname == '/home/') {
			const bodySearchWrapper = document.createElement('div')
			bodySearchWrapper.classList.add('algolia_search_wrapper')

			document.querySelector('#preamble').prepend(bodySearchWrapper)

			const bodyAlgoliaSearch = await new window.AlgoliaSearchComponent(bodySearchWrapper, {
				inline: true,
				filters: filters,
				firstResults: 'docs',
				viewMoreFunction: (section, searchValue, instance) => {
					fullScreenSearchWrapper.style.display = 'block';
					fullScreenAlgoliaSearch.setQuery(searchValue)
					fullScreenAlgoliaSearch.viewMoreFilter(section)
					document.body.classList.add('full_screen_search_open')
					instance.api.closeSearchResults()

					// Key is refinement list class name. Value is value of element to click
					fullScreenAlgoliaSearch.selectFilters({
						deployment: _.get(filters, 'docs.deployment'),
						docs_version: _.get(filters, 'docs.version')
					})
				}
			});
		}

	}

	function awaitAlgolia() {
		if (window.AlgoliaSearchComponent) {
			initializeAlgolia();
		} else {
			window.addEventListener('algoliaReady', initializeAlgolia);
		}
	}

	if (document.readyState === 'complete') {
		awaitAlgolia()
	} else {
		document.addEventListener("DOMContentLoaded", awaitAlgolia);
	}

</script>