<script src="https://scripts.thoughtspot.com/algolia_search.bundled.js"></script>

<script>
	function setCookie(name, value, days) {
		var expires = "";
		if (days) {
			var date = new Date();
			date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
			expires = "; expires=" + date.toUTCString();
		}
		document.cookie = name + "=" + (value || "") + expires + "; path=/";
	}
	function getCookie(name) {
		var nameEQ = name + "=";
		var ca = document.cookie.split(';');
		for (var i = 0; i < ca.length; i++) {
			var c = ca[i];
			while (c.charAt(0) == ' ') c = c.substring(1, c.length);
			if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
		}
		return null;
	}
	function eraseCookie(name) {
		document.cookie = name + '=; Max-Age=-99999999;';
	}

	const currentPath = window.location.pathname;
	const splitPath = currentPath.split('/').filter(Boolean);
	const homePage = splitPath.length == 3 ? true : false;

	if (getCookie('help_history') && homePage) {
		console.log('useCookie', getCookie('help_history'));
		window.location = getCookie('help_history');
	} else if (!homePage) {
		console.log('setCookie', window.location.href);
		setCookie('help_history', window.location.href, 1);
	} else if (homePage) {
		console.log('eraseCookie');
		eraseCookie('help_history');
	}

	window.addEventListener('message', (event) => {
		console.log('message', event);
	});


	let initialized = false;
	async function initializeAlgolia() {
		if (initialized) return;
		initialized = true;

		const searchElement = document.querySelector('#algolia-search')
		searchElement.style.boxSizing = 'border-box'
		document.body.classList.add('algolia_docs')

		const pathParams = window.location.pathname.split('/').filter(Boolean)

		let deployment = ['software', 'cloud'].indexOf(pathParams[1]) > -1 ? pathParams[1] : null
		let version = pathParams[2] ? pathParams[2] : null

		let filters = { docs: {} }

		if (deployment) {
			filters.docs.deployment = deployment
		}

		if (version) {
			filters.docs.version = version
		}

		// INLINE
		const algoliaSearch = await new window.AlgoliaSearchComponent(searchElement, {
			inline: true,
			filters: filters,
			addClass: 'header_algolia_search algolia_docs algolia_docs_embed',
			firstResults: 'docs',
			placeholderText: 'Search documentation, community, and training',
			startFocused: window.location.href.indexOf('index_help') > -1 ? true : false,
			filters: filters,
			hideViewMore: true,
			docsIndexName: 'crawler_thoughtspot_help'
		});

	}

	function awaitAlgolia() {
		if (window.AlgoliaSearchComponent) {
			initializeAlgolia();
		} else {
			window.addEventListener('algoliaReady', initializeAlgolia);
		}
	}

	if (document.readyState === 'complete') {
		awaitAlgolia()
	} else {
		document.addEventListener("DOMContentLoaded", awaitAlgolia);
	}

</script>