	<!--Google Tag Manager(noscript)-->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NQJWB5" height="0" width="0"
		style="display:none;visibility:hidden"></iframe></noscript>
<!--End Google Tag Manager(noscript)-->

<script async src="https://scripts.thoughtspot.com/algolia_search.bundled.js"></script> 
<!--<script async src="https://thoughtspotscripts.ngrok.io/public/algolia/dist/algolia_search.bundled.js"></script>-->

<!--ALGOLIA -->
<script>
	window.initializedAlgolia = window.initializedAlgolia || false;
	async function initializeAlgolia() {
		if (window.initializedAlgolia) return;

		const headerLinkContainer = document.querySelector('.header-link-container')

		if (!headerLinkContainer) {
			return setTimeout(initializeAlgolia, 100)
		}
		const algoliaWrapper = document.createElement('div')
		algoliaWrapper.classList.add('algolia_wrapper_div')
		headerLinkContainer.insertAdjacentElement('afterend', algoliaWrapper)

		const searchParent = document.querySelector('.algolia_wrapper_div');
		const searchElement = document.createElement('div');
		searchElement.classList.add('algolia_search_wrapper');
		document.body.classList.add('algolia_skilljar', 'algolia_skilljar2');
		searchParent.appendChild(searchElement);

		const pathParams = window.location.pathname.split('/').filter(Boolean);

		document.querySelector('#left-nav-button')?.addEventListener('click', (e) => {
			document.querySelector('#catalog-left-nav .search-container').appendChild(searchElement)
		})

		let filters = { training: {} };

		// FULL SCREEN
		const fullScreenSearchWrapper = document.createElement('div');
		const fullScreenSearchContainer = document.createElement('div');
		fullScreenSearchWrapper.classList.add('full_screen_search_wrapper');
		fullScreenSearchWrapper.style.display = 'none';
		fullScreenSearchContainer.classList.add('full_screen_search');
		fullScreenSearchContainer.classList.add('algolia_search_wrapper');
		document.body.appendChild(fullScreenSearchWrapper);
		fullScreenSearchWrapper.appendChild(fullScreenSearchContainer);

		const fullScreenAlgoliaSearch = await new window.AlgoliaSearchComponent(fullScreenSearchContainer, {
			inline: false,
			filters: filters,
			firstResults: 'training',
			onCloseButton: () => {
				fullScreenSearchWrapper.style.display = 'none'
				document.body.classList.remove('full_screen_search_open')
			}
		});

		// INLINE
		window.initializedAlgolia = true;
		const algoliaSearch = await new window.AlgoliaSearchComponent(searchElement, {
			inline: true,
			firstResults: 'training',
			viewMoreFunction: (section, searchValue, instance) => {
				fullScreenSearchWrapper.style.display = 'block'
				fullScreenAlgoliaSearch.focusSearchInput()
				fullScreenAlgoliaSearch.setQuery(searchValue)
				fullScreenAlgoliaSearch.viewMoreFilter(section)
				document.body.classList.add('full_screen_search_open')
				// instance.api.closeSearchResults()

				// Key is refinement list class name. Value is value of element to click
				fullScreenAlgoliaSearch.selectFilters({
					deployment: _.get(filters, 'docs.deployment'),
					docs_version: _.get(filters, 'docs.version')
				});
			}
		});

		document.querySelector('#left-nav-button')?.addEventListener('click', (e) => {
			if (e.target.classList.contains('fa-search')) {
				setTimeout(() => {
					algoliaSearch.focusSearchInput()
				}, 250)
			} else if (e.target.id == 'left-nav-button' && window.getComputedStyle(document.querySelector('#left-nav-button'))['display'] == 'block') {
				setTimeout(() => {
					algoliaSearch.focusSearchInput()
				}, 250)
			}
		})
	}



	if (window.AlgoliaSearchComponent) {
		initializeAlgolia();
	} else {
		window.addEventListener('algoliaReady', initializeAlgolia);
	}
</script>

<!--END ALGOLIA-- >

< !--Global Code Snippet-- >
<script>
	const quizUpdater = () => {
		QUIZ_1 = ['testing-professional-certification-retake-exam']
		QUIZ_2 = ['testing-professional-certification-attempt-2']
		QUIZ_3 = ['course path/url', 'course path/url', 'course path/url', 'course path/url']
		QUIZ_4 = ['course path/url', 'course path/url', 'course path/url', 'course path/url']
		var observer = new MutationObserver(function (mutations, me) {
			for(let i =0; i < QUIZ_1.length; i++) {
				var course1 = QUIZ_1[i];
				if (window.location.href.includes(course1)){
					var ifCheckForQuizContainer1 = $('#quiz-container').length && QUIZ_1.indexOf($('#quiz-container').attr('data-quiz')) >= 0;
					if (ifCheckForQuizContainer1) {
						$('#lesson-main-content').addClass('is-exam1');
					}
				}
			}
			for(let i =0; i < QUIZ_2.length; i++) {
				var course2 = QUIZ_2[i];
				if (window.location.href.includes(course2)){
					var ifCheckForQuizContainer2 = $('#quiz-container').length && QUIZ_2.indexOf($('#quiz-container').attr('data-quiz')) >= 0;
					if (ifCheckForQuizContainer2) {
						$('#lesson-main-content').addClass('is-exam2');
					}
				}
			}
			for(let i =0; i < QUIZ_3.length; i++) {
				var course3 = QUIZ_3[i];
				if (window.location.href.includes(course3)){
					var ifCheckForQuizContainer3 = $('#quiz-container').length && QUIZ_3.indexOf($('#quiz-container').attr('data-quiz')) >= 0;
					if (ifCheckForQuizContainer3) {
						$('#lesson-main-content').addClass('is-exam3');
					}
				}
			}
			for(let i =0; i < QUIZ_4.length; i++) {
				var course4 = QUIZ_4[i];
				if (window.location.href.includes(course4)){
					var ifCheckForQuizContainer4 = $('#quiz-container').length && QUIZ_4.indexOf($('#quiz-container').attr('data-quiz')) >= 0;
					if (ifCheckForQuizContainer4) {
						$('#lesson-main-content').addClass('is-exam4');
					}
				}
			}
				me.disconnect();
				return
			
		});

		observer.observe(document, {
			childList: true,
			subtree: true,
		});
	};

	quizUpdater()
</script>

<!--End Update Quiz Fail / Pass Response-- >


< !--Start remove - alert - message - and - not - available - button-- >
<script>
	$(document).ready(function() {
			var path, path1, path2, path3, path4, path5;
			path = '/beyond-2022-thoughtspot-cloud-essentials';
			path1 = '/beyond-2022-introduction-to-thoughtspot';
			path2 = '/beyond-2022-thoughtspot-everywhere-training-for-javascript-developers';
			path3 = '/beyond-2022-thoughtspot-everywhere-training-for-react-developers';
			path4 = '/beyond-2022-advanced-thoughtspot-everywhere-for-developers';
			path5='/beyond-2022-thoughtspot-everywhere-for-developers';
			if (window.location.pathname == path) {
					$('div#messages').attr('style', 'display: none !important');
					$('div#purchase-button-wrapper-large').attr('style', 'display: none !important');
			} else if (window.location.pathname == path1) {
					$('div#messages').attr('style', 'display: none !important');
					$('div#purchase-button-wrapper-large').attr('style', 'display: none !important');
			} else if (window.location.pathname == path2) {
					$('div#messages').attr('style', 'display: none !important');
					$('div#purchase-button-wrapper-large').attr('style', 'display: none !important');
			} else if (window.location.pathname == path3) {
					$('div#messages').attr('style', 'display: none !important');
					$('div#purchase-button-wrapper-large').attr('style', 'display: none !important');
			} else if (window.location.pathname == path4) {
					$('div#messages').attr('style', 'display: none !important');
					$('div#purchase-button-wrapper-large').attr('style', 'display: none !important');
			} else if (window.location.pathname == path5) {
					$('div#messages').attr('style', 'display: none !important');
					$('div#purchase-button-wrapper-large').attr('style', 'display: none !important');
			}
	})
<!--Remove certification button to show answers-->
$(document).ajaxComplete(function(){
var lessonIDs = ['1162611', '1301754', '1326176', '1326172', '1326167', '1326155']
var currentLessonID = window.location.pathname.split('/').slice(-1)[0]

if (lessonIDs.indexOf(currentLessonID) > -1) {
$('.sj-text-quiz-show-answers').css('display','none')
}
})
</script>
<!--End remove - alert - message - and - not - available - button-- >



<script>
	$('.coursebox-text-description, .sj-page-detail h2').html(function(){return $(this).html().replace('<br>', '<br>')})
	</script>

		<script src="https://fast.wistia.com/embed/medias/7hedcbmdqg.jsonp" async></script>
		<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>

		<script>
			$(document).ready(function () {
					if ($('#calendar')) {
				$("#month").click();
					}
			});
		</script>
		<script>
			$("body").on("click", ".card", function(evt) {
				$(this).toggleClass("reveal");
});
		</script>
		<script>
			$("body").on("click", ".line", function(evt) {
				$(this).toggleClass("reveal");
});
		</script>

		<!-- Set Default Signup Field Option and Conditionally Require Secondary Signup Field -->
<script>
	$(document).ready(function () {
		if ($('.sj-page-signup').length)

			// Domain-specific sign-up field and option IDs
			var countrySignUpFieldId = '260pjrf9naovm'
		var stateSignUpFieldId = 'xfn7z79t6a1z'
		var usaOptionValueId = '3nao0zen60obo'

		var stateSignUpBlock = $('.sj-text-id_custom_' + stateSignUpFieldId);
		var countryPickList = $('select[name=custom_' + countrySignUpFieldId + ']')
		var statePickList = $('select[name=custom_' + stateSignUpFieldId + ']')

		// Set default Country selection to United States
		// Show and Require State field only when United States is selected
		countryPickList.val(usaOptionValueId);
		statePickList.prop('required', true);
		countryPickList.change(function () {
			if ($(this).val() == usaOptionValueId) {
				statePickList.prop('required', true);
				stateSignUpBlock.css('display', 'block');
			}
			else {
				statePickList.prop('required', false);
				stateSignUpBlock.css('display', 'none');
			}
		});
	})
</script>







<!-- End Course Register Redirect to First Lesson -->

<!-- for "coming-soon" classes, changes opacity -->
<style>
	.coursebox-container[data-tags*="coming-soon"] {
		pointer - events: none;
		opacity: .8;
	}
</style>


<!-- START Corner Pop Up Announcement - Add to Global Code Snippet
		<script>
/* Below you will find options to configure corner pop-ups to show up on
			specific URLs in your Skilljar domain. Supports courses, lessons, pages, etc */
			var popupConfig = {
				/* START pop-up 1 Config */
				'pop-up1':{
				/* Set the below line to the title you want to display for the pop-up. Supports HTML. */
				title: 'New to Mode?',
			/* Set the below line to the text you want to display in the pop-up. Supports HTML. */
			message: "Learn the basics about using the app and discover key resources that'll jumpstart your best analytics work yet.",
			/* Set the below variable to true if you want to only show the announcement to each user once */
			showOnlyOnce: 'true',
			backgroundColor: '#eef2e3', /* background color of pop-up */
			textColor: '#043f2e', /* color of text in pop-up */
			linkColor: '#2a6f2b', /* color of link in pop-up (optional) */
			/* Set the URLs you want to show the announcement on below. Use '/' for all URLs. 
			 -Supports fuzzy matching. Ex: 'onboarding' would show on 'onboarding-course' and 'onboarding-path' 
			 -Supports multiple URLs. Surround URLs in quotes and add a comma between each entry. 
			 -To show the ribbon on your home page, add 'show-on-home' as a URL 
			 -Examples have been added below, feel free to edit/remove them */
			showOnURLs: [
			'show-on-home',
			'/page/all-courses',
			'/page/all-courses#level_beginner',
			],
			/* (Optional) Set the link text and destination URL on the two lines below. Leave blank for no link. */
			linkText: 'Take your First Steps with Mode now!',
			linkDestination: 'https://university.mode.com/path/first-steps-with-mode',
			/* If you want the link to open in a new tab, set the below value to true */
			openLinkInNewTab: 'true',
	
}
/* END pop-up 1 Config */
};

			$(window).on('load', function() {
				$.each(popupConfig, function (index, popupData) {
					var storageIdentifier = index;
					/* show announcement only on specific page URLs */
					if (popupData.showOnURLs.length !== 0) {
						$.each(popupData.showOnURLs, function (index2, urlWhitelist) {
							if ((window.location.href.includes(urlWhitelist)) || (urlWhitelist.toLowerCase() == 'show-on-home' && $('.sj-page-catalog-root').length)) {
								if (localStorage.getItem(storageIdentifier) !== "clicked") {

									var popup = `
						<div class="popup">
							<span class="popup-close">&times;</span>
							<div class="popup-title"></div>
							<div class="popup-text"></div>
						</div>
					`;

									$('body').append(popup);

									$('.popup-close').click(function () {
										if (popupData.showOnlyOnce == 'true') {
											localStorage.setItem(index, "clicked");
										}

										$('.popup').fadeOut('slow');
									});

									$('.popup-title').html(popupData.title);
									$('.popup .popup-text').html(popupData.message);

									/* append link to announcement text if it isn't blank */
									if (popupData.linkText !== '' && popupData.linkDestination !== '') {
										if (popupData.openLinkInNewTab == 'true') {
											var linkHTML = '<a class="popup-link" href="' + popupData.linkDestination + '" target="_blank"> ' + popupData.linkText + '</a>';
										}
										else {
											var linkHTML = '<a class="popup-link" href="' + popupData.linkDestination + '"> ' + popupData.linkText + '</a>';
										}
										$('.popup .popup-text').html($('.popup .popup-text').html() + linkHTML)
									}

									$('.popup').css('background-color', popupData.backgroundColor);
									$('.popup-title').css('color', popupData.textColor);
									$('.popup-text').css('color', popupData.textColor);
									$('.popup-link').css('color', popupData.linkColor);

									setTimeout(function () {
										$('.popup').fadeIn('slow');
									}, 1000);
								}
							}
						});
					}
				});  
});
		</script>
-->

<style>
	.popup {
		position: fixed;
		bottom: 20px;
		right: 20px;
		max-width: 400px;
		background-color: #fff;
		box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
		border-radius: 10px;
		padding: 25px;
		display: none;
		z-index: 999998;
	}

	.popup-title {
		font - size: 20px;
		line-height: normal;
		font-weight: bold;
		margin-bottom: 20px;
	}

	.popup-text {
		line - height: 21px;
		font-size: 16px;
	}

	.popup-close {
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 22px;
		cursor: pointer;
	}
</style>
<!-- END Corner Pop Up Announcement - Add to Global Code Snippet -->

<!-- Start Hide Lesson on Search -->
<!-- Global Code Snippet -->
<script>
	$(document).ready(function () {
		$('#catalog-search-box').on('keydown', function () {
			$('#filter_type_-l').hide();
			$('#catalog-search-info').css('height', '55px');
		});
		if (window.location.href.includes('q=')) {
			$('#filter_type_-l').hide();
			$('#catalog-search-info').css('height', '55px');
		}
	});
</script>
<!-- End Hide Lesson on Search -->

<!-- Start Tag based Page separator JS/CSS -->
<script>
	var tagName = '[separator]';
	$('document').ready(function () {
		$('.coursebox-container').each(function () {
			if ($(this).find('.coursebox-text').text().indexOf(tagName) !== -1) {
				$(this).find('.coursebox-text').text($(this).find('.coursebox-text').text().replace(tagName, ""));
			}
		});
	});
</script>
<div>
	<style>
		/* Set font size for separator titles */
		a.coursebox-container[data-tags*="separator"] .coursebox-text {
			font - size: 30px;
			margin-left: -30px;
			text-align: left !important;
		}

		/* Set font size for separator sub-titles */
		a.coursebox-container[data-tags*="separator"] .coursebox-text-description {
			font - size: 18px;
			margin-left: -30px;
			text-align: left !important;
		}

		a.coursebox-container[data-tags*="separator"]:after {
			display: none !important;
		}

		/* remove all standard course tile styling, add 100% page width */
		a.coursebox-container[data-tags*="separator"] {
			padding: 20px !important;
			text-align: center !important;
			width: 100% !important;
			min-height: unset !important;
			background-color: transparent !important;
			box-shadow: none !important;
			pointer-events: none !important;
			border: none !important;
		}

		/* hide course price/CTA text, tile image, hide separator courses from search */
		a.coursebox-container[data-tags*="separator"] .storefront-price,
		.search a.coursebox-container[data-tags*="separator"],
		a.coursebox-container[data-tags*="separator"] .coursebox-image {
			display: none !important;
		}
	</style>
</div>
<!-- End Tag based Page separator JS/CSS -->

<!-- Mode Carousel Snippet -->

<script>
	var CAROUSEL_SECTIONS = [
		{
			"title": "Getting started",
			"tag": "getting-started",
			"subtext": "Nail the fundamentals with these beginner-focused courses ",
		},
		{
			"title": "Learning paths",
			"tag": "role-based",
			"subtext": "Explore collections of courses tailored to a specific use-case",
		},
		{
			"title": "What’s new in Mode",
			"tag": "whats-new",
			"subtext": "Dive into our latest product updates",
		},
		{
			"title": "Tips & Tricks",
			"tag": "quick-tips-tricks",
			"subtext": "Get the most out of Mode with these quick insights",
		},
	]
</script>

<script>

	var iterateCarouselBack = function () {
		var e = $(this).next().outerWidth();
		a = $(this).next().scrollLeft();
		$(this).next().scrollLeft(a - e + 100);
	}
	var iterateCarouselForward = function () {
		var e = $(this).prev().outerWidth();
		a = $(this).prev().scrollLeft();
		$(this).prev().scrollLeft(a + e - 100)
	}

	var makeBackButton = function () {
		var button = document.createElement('button');
		button.classList.add('carousel-button');
		var arrow = document.createElement('div');
		arrow.classList.add('caret-left');
		button.appendChild(arrow);
		button.onclick = iterateCarouselBack;
		return button;
	}

	var makeForwardButton = function () {
		var button = document.createElement('button');
		button.classList.add('carousel-button');
		var arrow = document.createElement('div');
		arrow.classList.add('caret-right');
		button.appendChild(arrow);
		button.onclick = iterateCarouselForward;
		return button;
	}

	var createCarousel = function (sectionData) {
		// Outer wrapper
		var sectionWrapper = document.createElement('div');
		sectionWrapper.classList.add('carousel-section-wrapper');
		var heading = document.createElement('h2');
		heading.classList.add('h2');
		heading.innerHTML = sectionData.title;
		var subHeading = document.createElement('p');
		subHeading.classList.add('body');
		subHeading.innerHTML = sectionData.subtext;
		sectionWrapper.appendChild(heading);
		sectionWrapper.appendChild(subHeading);


		// Carousel wrappers
		var carouselRow = document.createElement('div');
		carouselRow.classList.add('carousel-row');
		var carouselContent = document.createElement('div');
		carouselContent.classList.add('carousel-card-section');
		var carouselTags = document.querySelectorAll(`[data-tags*=${sectionData.tag}]`)
		// Add cards
		carouselTags.forEach(node => {
			var nodeCopy = node.cloneNode(true);
			nodeCopy.classList.remove('search-only');
			nodeCopy.classList.remove('not-found');
			carouselContent.appendChild(nodeCopy);
		})
		// Hack to force load the images
		var notLoadedImages = carouselContent.querySelectorAll('img:not(.loaded)');
		notLoadedImages.forEach(imgNode => {
			var imgSrc = imgNode.getAttribute('data-src')
			imgNode.setAttribute('src', imgSrc);
			imgNode.classList.add('loaded');
			imgNode.setAttribute('data-was-processed', 'true');
		})
		// Final assembly
		carouselRow.appendChild(makeBackButton());
		carouselRow.appendChild(carouselContent);
		carouselRow.appendChild(makeForwardButton());
		sectionWrapper.appendChild(carouselRow)
		carouselSectionContainer.appendChild(sectionWrapper);
	};

	var addHeroButton = function () {
		const buttonStyle = "background-color: #C8F169; font-size: 16px; color: ##043F2E; border: none; border-radius: 6px; font-family: Graphik; font-weight: 500; padding: 16px 30px; margin: 40px auto auto";
		const heroButton = document.createElement("input");
		const hrefAttribute1 = document.createAttribute("type");
		hrefAttribute1.value = "button";
		const hrefAttribute2 = document.createAttribute("onclick");
		hrefAttribute2.value = "window.location.href='https://university.mode.com/page/all-courses';";
		const hrefAttribute3 = document.createAttribute("value");
		hrefAttribute3.value = "Browse courses";
		const hrefAttribute4 = document.createAttribute("id");
		hrefAttribute4.value = "heroButton";
		const hrefAttribute5 = document.createAttribute("style");
		hrefAttribute5.value = buttonStyle;
		heroButton.setAttributeNode(hrefAttribute1);
		heroButton.setAttributeNode(hrefAttribute2);
		heroButton.setAttributeNode(hrefAttribute3);
		heroButton.setAttributeNode(hrefAttribute4);
		heroButton.setAttributeNode(hrefAttribute5);
		const header = $('.header-content');
		header.append(heroButton);
	}

	var carouselSectionContainer = document.querySelector('.carousel-content');

	$(document).ready(function () {
		addHeroButton();
		if (carouselSectionContainer) {
			CAROUSEL_SECTIONS.forEach(section => {
				createCarousel(section);
			})
		}
	});
</script>