// Mixins!

cover()
	absolute: top 0 left 0
	width: 100%
	height: 100%

centered()
	absolute: top 50% left 50%
	transform: translate(-50%, -50%)

hcentered()
	absolute: left 50%
	transform: translateX(-50%)

vcentered()
	absolute: top 50%
	transform: translateY(-50%)

perheight(percent)
	&:after
		display: block
		content: ' '
		padding-top: percent

bg_video_cover($aspect_width, $aspect_height, $center = true)
	height: 100%
	width: 100vh * ($aspect_width / $aspect_height)
	min-width: 100%
	min-height: 100vw * ($aspect_height / $aspect_width)
	if $center
		absolute: top 50% left 50%
		transform: translate(-50%, -50%)

bglayout($type)
	if $type == 'cover'
		background-size: cover
		background-position: center center
		background-repeat: no-repeat
	if $type == 'contain'
		background-size: contain
		background-position: center center
		background-repeat: no-repeat

bgimage($imageName, $absolute)
	if $absolute
		background-image: url('/sites/all/themes/thoughtspot_new/images/' + $imageName)
	else
		background-image: url('images/' + $imageName)

reset-button()
	border: none
	margin: 0
	padding: 0
	width: auto
	overflow: visible
	background: transparent
	color: inherit
	font: inherit
	text-align: inherit
	/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
	line-height: normal
	/* Corrects font smoothing for webkit */
	font-smoothing: inherit
	/* Corrects inability to style clickable `input` types in iOS */
	appearance: none

	&::-moz-focus-inner
		border: 0
		padding: 0

default_paragraph()
	font-size: 20px
	line-height: 28px
	font-weight: normal

medium_paragraph()
	font-size: 18px
	line-height: 24px
	font-weight: normal

small_paragraph()
	font-size: 16px
	line-height: 24px
	font-weight: 300

smaller_paragraph()
	font-size: 14px
	line-height: 20px
	font-weight: normal

smallest_paragraph()
	font-size: 12px
	line-height: 16px
	font-weight: normal


ts_box_shadow()
	box-shadow: 0px 28px 45px rgba(0,0,0,0.2)